body {
	background: linear-gradient(45deg, #2593b1 0%, #6ddf78 100%);
}

header {
	position: static;
}

#main-logo a {
	color: black;
	text-shadow: none;
}

main li img {
	width: 16em;
	height: 16em;
	object-fit: cover;
}

main ul {
	margin: 3em 10em;
	padding: 0;
	list-style: none;
	text-decoration: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.6em;
}

main ul li {
	display: flex;
	background-color: rgb(243, 243, 243);
	overflow: hidden;
	border-radius: 0.8em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

main li:nth-of-type(3) {
	grid-column: 1 / span 2;
}

main li:hover {
	transform: scale(1.0125);
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
	/* cursor: url("./Images/icons/Untitled.png"), auto; */
}

.item-content {
	padding: 0.8em;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-content h2 {
	font-size: 1.2em;
	margin: 1em 0;
	color: #40128b;
}

.item-content p {
	font-size: 0.8em;
	margin: 0em 0.2em;
	color: #171e24;
	font-family: "poppins", sans-serif;
	align-self: flex-start;
}

.actions {
	align-self: flex-end;
	align-items: flex-end;
}

.actions a {
	font-size: 0.8em;
	color: #40128b;
	text-decoration: none;
	display: inline-block;
	margin: 0.5em 0.5em;
	font-family: "poppins", sans-serif;
	padding: 0.4em 0.6em;
	font-weight: bold;
	border-radius: 0.3em;
}

.actions a:hover {
	background-color: #9dd6d3;
	transition: all 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
