/* Styling for the main hero section */
#hero {
	background-image: url(./Images/background/dharmshala.jpg);
	height: 40em;
	background-position: center;
	background-size: cover;
}
/* Styling for the content within the hero section */
#hero-content {
	margin: 0 auto;
	padding: 1.5em;
	width: 40em;
	height: 12em;
	border-radius: 0.6em;
	background-color: #000000b9;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	text-decoration: none;
	position: relative;
	top: 12em;
}
/* Styling for the heading within the hero content */
#hero-content h1 {
	font-size: 2.5em;
	margin: 0.5em auto;
}
/* Styling for the paragraphs within the hero content */
#hero-content p {
	margin-bottom: 2em;
}
/* Styling for the links within the hero content */
#hero-content a {
	text-decoration: none;
	color: #000000;
	background-color: #f7c04a;
	font-weight: 700;
	padding: 0.4em 1.2em;
	border-radius: 0.4em;
}
/* Styling for the links within the hero content on hover */
#hero-content a:hover {
	background-color: #000000;
	color: #fff;
}

#highlights-h1 {
	margin: 0.4em auto;
	text-align: center;
	text-transform: uppercase;
}

#highlights {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	text-align: center;
	text-transform: uppercase;
	font-family: "poppins", "Lucida Sans", "sans";
	/* 	font-weight: 700; */
}
.card {
	width: 26em;
	height: 14em;
	padding: 0em 1em 1.5em 1em;
	margin: 1em;
	border-radius: 0.8em;
}

.highlight-img img {
	width: 100%;
	height: 12em;
	border-radius: 0.8em;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	object-fit: cover;
}
.highlight-img img:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.05);
	transition: all 100ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.highlight-img {
	margin: 0;
}
.img-disc-main-page {
	margin: 0.5em;
	font-size: 1.2em;
}
.img-disc-main-page span {
	color: #5c7577;
}
